Django==4.2.7
djangorestframework==3.15.2
djangorestframework-simplejwt==5.2.2
djoser==2.2.0
drf-yasg==1.21.6
django-crispy-forms==2.0
crispy-tailwind==0.5.0
django-filter==24.3
django-phonenumber-field==8.0.0
django-cors-headers==4.3.0
python-decouple==3.8
python-dotenv==1.0.1
environ==1.0
bleach==6.2.0
docutils==0.21.2
folium==0.19.4
frozenlist==1.5.0
installer==0.7.0
instaloader==4.14.1
python-dateutil==2.9.0.post0
psycopg2==2.9.10
psycopg2-binary==2.9.10
Pillow>=10.0
gunicorn==20.1.0
cloudinary==1.39.0
django-cloudinary-storage==0.3.0
twilio==8.13.0
coreapi
